#SearchUser {
    position: fixed;
    font-weight: 800;
    width: 480px;
    top: 5px;
    z-index: 100;
    background: aliceblue;
    left: 5px;
}

.ChatHistory{
    position: relative;
    top: 45px;
    z-index: 10;
    left: -10px;
    background: ghostwhite;
    width: 500px;
    border: gray;
}

.Contact{
    text-align: center;
    margin-right: 70px;
}
#ChatBlock{
    background: cornsilk;
    margin-left: 0px;
    border-width: 2px;
    border-style: solid;
}

.InputText{
    position: fixed;
    bottom: 5px;
    width: 995px;
}

.dropdown-item{
    margin-bottom: 10px;
    text-align: center;

}