#UserInfo {
    position: absolute;
    padding-top: 5px;
    height: 80px;
    border-block: black;
    border-style: solid;
    border-width: 1px;
    left: 0;
    background: #63d2c5;
}

#UserName {
    position: relative;
    font-size: xx-large;
}

.SideMenu {
    position: relative;
    left: 0;
    height: 40px;
    font-size: smaller;
    background: white;
    height: 100%;
    width: 100%;
}

/*#SearchUser {*/
/*    position: relative;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    font-weight: 800;*/
/*    background: aliceblue;*/
/*    display: flex;*/
/*    height: 50px;*/
/*    width: 300px;*/
/*    margin-right: 10px;*/
/*}*/


.LeftSide {
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    border-width: 3px;
    border-style: solid;
}

.ChatHistory {
    position: absolute;
    top: 80px;
    left: 0;
    background: ghostwhite;
    width: 97%;
    height: calc(100vh - 105px);
    border: gray;
    overflow: auto;
}

.UserImage {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.ContactName {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
    padding-bottom: 4px;
}

#ChatBlock {
    position: fixed;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: cornsilk;
    border-width: 3px;
    border-style: solid;
}

.InputText {
    float: bottom;
    bottom: 10px;
    position: absolute;
}

.ChatBar {
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0;
    padding-left: 10px;
    background: #63d2c5;
    border-width: 1px;
    border-style: solid;
}

.Chat {
    position: relative;
    top: 90px;
    font-size: larger;
}
