#UserInfo {
    position: absolute;
    padding-top: 5px;
    height: 80px;
    border-block: black;
    border-style: solid;
    border-width: 1px;
    left: 0;
    background: #63d2c5;
    width: 100%;
}

#UserName {
    position: relative;
    font-size: xx-large;
}

.SideMenu {
    position: relative;
    left: 0;
    font-size: smaller;
    background: white;
    height: 100%;
    width: 100%;
}

#SearchUser {
    font-weight: 800;
    background: aliceblue;
    display: flex;
}

#not-found {
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: large;
}

.LeftSide {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    border-width: 3px;
    border-style: solid;
}

.ChatHistory {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 0;
    background: ghostwhite;
    width: 97%;
    height: calc(100vh - 105px);
    border: gray;
    overflow: auto;
}

.history-message {
    overflow: hidden;
    text-overflow: clip;
    max-width: 70%;
}

.UserImage {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.ContactName {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
    padding-bottom: 4px;
    font-family: none, serif;
}

#ChatBlock {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background-image: url("../Pictures/chat-background.png");
    border-width: 3px;
    border-style: solid;
}

.InputText {
    float: bottom;
    bottom: 10px;
    position: absolute;
}

#ChatBar {
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0;
    padding-left: 20px;
    background: #63d2c5;
    border-width: 1px;
    border-style: solid;
    display: none;
}

#BarName {
    margin-left: 30px;
    font-weight: 550;
    font-size: 30px;
}

.Chat {
    position: relative;
    top: 90px;
    font-size: larger;
    height: 77%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.Chat .left-content {
    text-align: left;
    background: #b3fd6c;
    justify-content: flex-start;
    left: -10px;
    top: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    overflow-wrap: anywhere;
    max-width: 65%;
}

.Chat .right-content {
    text-align: right;
    background: #20dbc2;
    justify-content: flex-end;
    right: -5px;
    top: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    overflow-wrap: anywhere;
    max-width: 65%;
}

.Chat li {
    font-size: larger;
    font-weight: bold;
    display: block;
}

.chat-bubble {
    padding: 10px 14px;
    margin: 4px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble-left::after {
    left: 0;
    border-right-color: #b3fd6c;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble-right::after {
    right: 0;
    border-left-color: #20dbc2;
    border-right: 0;
    margin-right: -20px;
}

#chat-msgs {
    display: block;
    padding-left: 0;
    scroll-snap-align: end;
}

#toolbox {
    display: none;
}

.msg-date {
    color: gray;
    font-size: small;
}

.mini-menu > .list-item {
    width: max-content;
}

.Chat-Image {
    vertical-align: middle;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    padding: 4px;
}

.Chat-Video {
    vertical-align: middle;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    padding: 5px;
}

.Chat-Audio {
    height: 35px;
}

#date-friend {
    margin-top: 8px;
    color: #aaa;
}

#message-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#temp {
    display: none;
}