#SearchUser {
    position: fixed;
    font-weight: 800;
    width: 495px;
    top: 0px;
    z-index: 100;
    background: aliceblue;
    left: 5px;
}

.ChatHistory{
    position: relative;
    top: 40px;
    z-index: 10;
    left: -10px;
    background: ghostwhite;
    width: 498px;
    border: gray;
}

#ChatBlock{
    background: cornsilk;
    margin-left: 0px;
    border-bottom: #61dafb;
    border-width: 10px;
    border-style: solid;
}

.InputText{
    position: fixed;
    top: 100px;
    width: 960px;
}
