#SearchUser {
    position: fixed;
    font-weight: 800;
    width: 400px;
    top: 0px;
    z-index: 100;
    background: aliceblue;
}

.History{
    position: relative;
    top: 40px;
    z-index: 10;
    left: 2px;
    background: ghostwhite;
    width: 400px;
    border: gray;
}

#ChatBlock{
    background: cornsilk;
    margin-left: 0px;
    margin-top: 10px;
    border-bottom: #61dafb;
    border-width: 10px;
    border-style: solid;
}