
.leftSide {
    float: left;
}

.rightSide {
    float: right;
}

.paddingUp {
    padding-top: 25px;
}

.fontSize {
    font-size: 18px;
}

.littlePaddingFromLeft {
    padding-left: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.forms-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all;
}

.social-icon:hover {
    color: #20dbc2;
    border-color: #00bfa6;
}

.social-text {
    padding: 0.7rem 0;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.half-row {
    max-width: 190px;
    width: 90%;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.two-inputs {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.upload-box {
    outline: none;
    text-align: center;
    padding-top: 17px;
}

::-webkit-file-upload-button {
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
}

.btn-forms {
    width: 250px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #20dbc2;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}

.btn-forms {
    background-color: #00bfa6;
}

.signin-signup {
    top: 50%;
    left: 75%;
    display: grid;
    grid-template-columns: 1fr;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #FFFFFF 130px, #FFFFFF 100%);
    display: flex;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
}

#Remember {
    float: right;
    margin-right: 100px;
}

#CheckRemember {
    margin-left: 105px;
}

#logo {
    width: 580px;
    height: 525px;
    float: left;
}

.logo-container {
    float: left;
}
