
.leftSide {
    float: left;
}

.rightSide {
    float: right;
}

.paddingUp {
    padding-top: 35px;
}

.fontSize {
    font-size: 18px;
}

.littlePaddingFromLeft {
    padding-left: 10px;
}

.formContainer {
    float: left;
    position: relative;
    border-color: darkgrey;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    background-color: #ffffff;
    padding-bottom: 50px;
    width: 800px;
    height: 360px;
    margin: auto;
    vertical-align: middle;
    display: flex;
    margin-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
    display: flex;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
}

#Remember {
    float: right;
    margin-right: 100px;
}

#CheckRemember {
    margin-left: 105px;
}

#logo {
    width: 380px;
    height: 325px;
}