
.leftSide {
    float: left;
}

.rightSide {
    float: right;
}

.paddingUp {
    padding-top: 40px;
}

.fontSize {
    font-size: 18px;
}

.littlePaddingFromLeft {
    padding-left: 10px;
}

.niceBorder {
    border-color: darkgrey;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
}